---
const { title, description, pubDate, updatedDate, tags } = Astro.props;
---

<header>
  <h1>{title}</h1>
  <p>{description}</p>
  <p class="mt-2 flex gap-4">
    <time datetime={pubDate.toISOString()}>
      公開日{pubDate.toLocaleDateString("ja-jp")}
    </time>
    <time datetime={updatedDate.toISOString()}>
      更新日{updatedDate.toLocaleDateString("ja-jp")}
    </time>
  </p>
  <p>
    {
      tags.map((tag: string) => {
        return <span>#{tag}</span>;
      })
    }
  </p>
</header>
